---
http_interactions:
- request:
    method: get
    uri: https://api.genderize.io/?name%5B%5D=jim&name%5B%5D=kim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Reset:
      - '35181'
      X-Rate-Limit-Remaining:
      - '998'
      Etag:
      - W/"83-IoaKKk2OLoyNjt3H86GHeqC6qPc"
    body:
      encoding: UTF-8
      string: '[{"name":"kim","gender":"female","probability":0.56,"count":51609},{"name":"jim","gender":"male","probability":0.98,"count":26900}]'
  recorded_at: Fri, 03 Jul 2020 14:13:39 GMT
recorded_with: VCR 6.0.0
