---
http_interactions:
- request:
    method: get
    uri: https://api.genderize.io/?name%5B%5D=jim&name%5B%5D=kim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '986'
      X-Rate-Reset:
      - '86028'
      Etag:
      - W/"7e-VPSQVcAvfJF+Jni4BBS2tg"
    body:
      encoding: UTF-8
      string: '[{"name":"kim","gender":"female","probability":0.88,"count":3561},{"name":"jim","gender":"male","probability":1,"count":2291}]'
  recorded_at: Thu, 30 Aug 2018 03:00:38 GMT
recorded_with: VCR 4.0.0
