---
http_interactions:
- request:
    method: get
    uri: https://api.genderize.io/?name=kim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Reset:
      - '77272'
      X-Rate-Limit-Remaining:
      - '999'
      Etag:
      - W/"41-VWi4Gf1e0SpvbfR9ZwtgnOYOax4"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"kim","gender":"female","probability":0.56,"count":51609}'
  recorded_at: Tue, 20 Jul 2021 02:32:07 GMT
recorded_with: VCR 6.0.0
