---
http_interactions:
- request:
    method: get
    uri: https://api.genderize.io/?name=kim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Reset:
      - '7268'
      X-Rate-Limit-Remaining:
      - '999'
      Etag:
      - W/"41-VWi4Gf1e0SpvbfR9ZwtgnOYOax4"
    body:
      encoding: UTF-8
      string: '{"name":"kim","gender":"female","probability":0.56,"count":51609}'
  recorded_at: Sun, 17 Nov 2019 21:58:52 GMT
recorded_with: VCR 5.0.0
