---
http_interactions:
- request:
    method: get
    uri: https://api.genderize.io/?name=kim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000'
      X-Rate-Limit-Remaining:
      - '985'
      X-Rate-Reset:
      - '86028'
      Etag:
      - W/"40-I2pZwwySeUaPhZkCK8XXoA"
    body:
      encoding: UTF-8
      string: '{"name":"kim","gender":"female","probability":0.88,"count":3561}'
  recorded_at: Thu, 30 Aug 2018 03:00:38 GMT
recorded_with: VCR 4.0.0
